<!DOCTYPE html>
<html>
	<head>
		<title>Black &amp; White</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/pace.css">
	    <link rel="stylesheet" href="css/custom.css">

	    <!-- js -->
	    <script src="js/jquery-2.1.3.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/pace.min.js"></script>
	    <script src="js/modernizr.custom.js"></script>
		<script src="js/vue-2.5.16.js"></script>
		<script src="js/axios-0.18.0.min.js"></script>

	</head>

	<body id="single">
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="index.html"><b>Black</b> &amp; White</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="index.html" data-hover="Home">Home</a></li>
    								<li class="cl-effect-11"><a href="full-width.html" data-hover="Blog">Blog</a></li>
    								<li class="cl-effect-11"><a href="about.html" data-hover="About">About</a></li>
    								<li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body" id="app">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">拥抱Docker</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="#">科技</a></span>
			
									<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">July 10, 2018, 2:25 p.m.</time></a></span>
			
									<span class="post-author"><a href="#">admin</a></span>
			
									<span class="comments-link"><a href="#">1000000 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								| 虚拟化（Virtualization）

在认识Docker之前，我们首先需要搞清楚一个概念，虚拟化。
什么是虚拟化技术？

在计算机网络中，虚拟化是一种资源管理技术，是将计算机的各种实体资源，如服务器、网络、内存及存储等予以抽象、转换呈现出来，打破实体间不可分割的障碍，使用户可以以比原本更好的组态方式来应用这些资源。这些资源的的虚拟部分不受有的假设方式、地域或物理组态的限制。

在实际的生产环境中，虚拟化技术主要用来高性能物理硬件产能过剩和老旧硬件产能过低的重组重用，透明化底层物理硬件，从而最大化的利用物理硬件。

 
虚拟化技术的分类

    全虚拟化架构
        虚拟机的监视器（hypervisor）是类似于用户的应用程序运行于主机的OS上，如Vmware的workstation，这种虚拟化技术提供了虚拟的硬件。

2. OS层虚拟化架构

OS层虚拟化是依赖于宿主机OS的，与全虚拟化架构不同的是，它不虚拟化硬件，是一种轻量级的虚拟化技术。

3. 硬件层虚拟化

硬件层的虚拟化架构具有高性能和隔离性，因为hypervisor直接在硬件上运行，有利于控制虚拟机访问硬件资源，一般运用于大型虚拟化业务，如目前的云服务器等。

 *注解：hypervisor是一种运行在物理服务器和操作系统之间的中间软件层,可允许多个操作系统和应用共享一套基础物硬件，因此也可以看作是虚拟环境中的“元”操作系统，它可以协调访问服务器上的所有物理设备和虚拟机，也叫虚拟机监视器(Virtual Machine Monitor， VMM)。

 
| Docker
什么是Docker？

    Docker诞生于2013年，是一个开源的应用容器引擎，基于 Go 语言 编写，并遵从Apache2.0协议开源。Docker 可以让开发者打包他们的应用以及依赖包到一个轻量级、可移植的容器中，然后发布到任何流行的 Linux 机器上，也可以实现虚拟化。容器是完全使用沙箱机制，相互之间不会有任何接口，更重要的是容器性能开销极低。

Docker的容器技术

在计算机技术中，容器拥有相当漫长且传奇的历史。容器（container）与管理程序虚拟化（hypervisor virtualization，HV）有所不同，管理程序虚拟化通过中间层将一台或多台独立的机器虚拟运行于物理硬件之上，而容器则是直接运行在操作系统内核之上的用户空间。因此，容器虚拟化又称为 操作系统级虚拟化，容器技术可以让多个独立的用户空间运行在t哦那个一台宿主机上，且资源消耗极低，相互之间无影响。

Docker的应用场景

    Web 应用的自动化打包和发布。
    自动化测试和持续集成、发布。
    在服务型环境中部署和调整数据库或其他的后台应用。
    从头编译或者扩展现有的OpenShift或Cloud Foundry平台来搭建自己的PaaS环境。

 
Docker的三个基本组件

1. 镜像（Image）

镜像是Docker的基石，用户基于镜像来运行自己的容器，镜像是Docker声明周期的“构建”部分。通俗来讲，镜像就是用户创建的虚拟化操作系统文件。

2. 容器（Container）

容器是基于镜像创建和启动起来的，容器中可以有一个或多个进程，一旦容器启动后，我们就可以进入容器中操作，就像操作一个实体的操作系统一样。通俗来讲，一个镜像运行起来后就是一个容器。容器是Docker声明周期中的启动或执行阶段。

3. 仓库（Repository）

仓库是用来保存镜像的。就像github中的仓库一样，用户可以上传自己打包的镜像或下载别人创建的镜像来运行。官方的Repositor中提供了丰富的镜像资源。用户注册登录后即可上传下载。

 

Docker借鉴了标准集装箱的概念。集装箱将货物运送到世界各地，Docker将这个模型运用于自己的设计中，唯一不同的是，集装箱运送的是货物，而Docker运送的是软件，Docker的LOGO也很好的诠释了它的设计理念。

使用Docker，开发者可以快速的构建一个应用程序服务器、一个消息总线、一套使用工具、一个持续继承测试环境或者任意一种应用程序、工具软件。我们可以本地构建一个完整的测试环境，也可以为生产或开发环境快速复制一套应用程序栈。
							</div>
						</article>
					</main>
					<aside class="col-md-4">
						<div class="widget widget-recent-posts">
							<h3 class="widget-title">Recent Posts</h3>		
							<ul>
								<li  v-for="post in recent_post">
									<a :href="post.id + '.html'">[[ post.title ]]</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-archives">
							<h3 class="widget-title">Archives</h3>
							<ul>
								<li>
									<a href="#">November 2014</a>
								</li>
								<li>
									<a href="#">September 2014</a>
								</li>
								<li>
									<a href="#">January 2013</a>
								</li>
							</ul>
						</div>

						<div class="widget widget-category">
							<h3 class="widget-title">Category</h3>
							<ul>
								<li v-for="category in categories">
									<a href="#">[[ category.name ]]</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2014 ThemeWagon.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="js/script.js"></script>

	</body>
</html>
