<!DOCTYPE html>
<html>
	<head>
		<title>Black &amp; White</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/pace.css">
	    <link rel="stylesheet" href="css/custom.css">

	    <!-- js -->
	    <script src="js/jquery-2.1.3.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/pace.min.js"></script>
	    <script src="js/modernizr.custom.js"></script>
		<script src="js/vue-2.5.16.js"></script>
		<script src="js/axios-0.18.0.min.js"></script>

	</head>

	<body id="single">
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="index.html"><b>Black</b> &amp; White</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="index.html" data-hover="Home">Home</a></li>
    								<li class="cl-effect-11"><a href="full-width.html" data-hover="Blog">Blog</a></li>
    								<li class="cl-effect-11"><a href="about.html" data-hover="About">About</a></li>
    								<li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body" id="app">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">那些优秀的学习资源</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="#">科技</a></span>
			
									<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">July 13, 2018, 8:07 a.m.</time></a></span>
			
									<span class="post-author"><a href="#">admin</a></span>
			
									<span class="comments-link"><a href="#">178778 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								Github那些有趣的仓库

    事实上，github是一个非常好的学习平台，你可以在这里邂逅到那些脑洞大开的想法，去探索他，去拥抱他。点击子标题超链接直达项目！

&gt; Python面试题
简介：涵盖了Python语言特性、操作系统基础、数据库及网络等内容，还附带一些算法题可用来练手。
 
&gt; 技术面试资料
简介：作者是一位今年的应届生，该仓库的内容都是作者在准备2018年春招过程中的学习总结（主要是相关计算机书籍的学习笔记），由于作者主要是做Java的，所以涉及到代码的部分都是以java为主，可选择性阅读。
 
&gt; Face_Recognition
简介：一个基于openCV2的人脸识别python库，被称为世界上最简单的人脸识别python库，该模型在Wild标杆中的Labeled Faces上的准确率为99.38％。 这也提供了一个简单的face_recognition命令行工具，可以让您从命令行对图像文件夹进行脸部识别！
 
&gt; GeekComputer
简介：一个Python脚本仓库，里面有各种python写的小工具，代码不复杂，适合练手。
 
&gt; 中国独立开发者项目列表
简介：这个仓库里的项目主要来自各个独立开发者的提交，看看别人业余都在做什么，可以给自己一些灵感。
 
&gt; wxpy
简介：一个由国人开发的Python微信机器人库，可以基于这个库简单快速的做一些很有意思的事情，比如微信自动回复，自动发送消息等。自带中文文档。
 
&gt; Python资源大全中文版(Awesome-python-cn)
简介：这个仓库整理出了目前最流行的各种Python第三方库，内容涵盖：Web 框架、网络爬虫、网络内容提取、模板引擎、数据库、数据可视化、图片处理、文本处理、自然语言处理、机器学习、日志、代码分析等。
 
&gt; Python数据结构与算法
简介：该书是Problem Solving with Algorithms and Data Structure using Python的中文版，由一位python程序员于业余事件翻译，该书内容丰富、完整，设计面广泛。欲获取英文原版请点击这里下载。
 
&gt; Google开源的Python代码风格指南
简介：Google推崇的Python语言规范，请务必保持代码的一致性，制定风格指南的目的在于让代码有规可循, 这样人们就可以专注于“你在说什么”, 而不是“你在怎么说”.。我们在这里给出的是全局的规范，但是本地的规范同样重要.，如果你加到一个文件里的代码和原有代码大相径庭，它会让读者不知所措.，应避免这种情况。

 
个人关注的一些干货微信公众号

    毫无疑问，Wechat降低了我们学习的时间成本，他让我们的内容获取变得更加方便快捷，甚至可以在吃午饭的十分钟刷一篇隐马尔可夫模型。以下推荐的公众号多为个人号，作者推送时间不定，建议多看看历史文章。
							</div>
						</article>
					</main>
					<aside class="col-md-4">
						<div class="widget widget-recent-posts">
							<h3 class="widget-title">Recent Posts</h3>		
							<ul>
								<li  v-for="post in recent_post">
									<a :href="post.id + '.html'">[[ post.title ]]</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-archives">
							<h3 class="widget-title">Archives</h3>
							<ul>
								<li>
									<a href="#">November 2014</a>
								</li>
								<li>
									<a href="#">September 2014</a>
								</li>
								<li>
									<a href="#">January 2013</a>
								</li>
							</ul>
						</div>

						<div class="widget widget-category">
							<h3 class="widget-title">Category</h3>
							<ul>
								<li v-for="category in categories">
									<a href="#">[[ category.name ]]</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2014 ThemeWagon.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="js/script.js"></script>

	</body>
</html>
